input {
  keyboard {
    xkb {
      layout "fr"
    }
  }
}

output "*" {
  mode "1920x1080"
  focus-at-startup
}

spawn-at-startup "waybar"
spawn-at-startup "alacritty"

binds {
  Mod+Return { spawn "alacritty"; }
  Mod+Q      { quit; }
}